---
layout: default
title: Tags
permalink: /tags/
---

<section class="prose">
  <h1>Tags</h1>

  {% assign sorted_tags = site.tags | sort %}
  <div class="tag-cloud">
    {% for tag in sorted_tags %}
      <a class="tag-pill" href="#{{ tag[0] | slugify }}">{{ tag[0] }}<span class="tag-count">{{ tag[1].size }}</span></a>
    {% endfor %}
  </div>

  {% for tag in sorted_tags %}
    <section class="tag-section" id="{{ tag[0] | slugify }}">
      <h2 class="col-title">// {{ tag[0] }}</h2>
      <ul class="post-list">
        {% for post in tag[1] %}
          <li class="post-item">
            <a class="post-item-link" href="{{ post.url | relative_url }}">
              <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
              <span class="post-item-body">
                <span class="post-item-title">{{ post.title }}</span>
              </span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
</section>
